<filter>
    <filter-name>NoCacheFilter</filter-name>
    <filter-class>org.apache.catalina.filters.HttpHeaderSecurityFilter</filter-class>
    <init-param>
        <param-name>cacheControl</param-name>
        <param-value>no-store, no-cache, must-revalidate, max-age=0</param-value>
    </init-param>
    <init-param>
        <param-name>pragma</param-name>
        <param-value>no-cache</param-value>
    </init-param>
    <init-param>
        <param-name>expires</param-name>
        <param-value>0</param-value>
    </init-param>
</filter>

<filter-mapping>
    <filter-name>NoCacheFilter</filter-name>
    <url-pattern>/*</url-pattern>
</filter-mapping>



